div.nav-container, .resume:hover {
    background-color: #8D7B68;
}
div.name {
    font-family: 'Great Vibes';
    font-size: 2rem;
}
div.flexbox {
    float: right;
}
div.name, div.flexbox {
    display: inline-block;
    padding: 10px 30px;
}
div.name, .f-item, .resume {
    color: white;
}
.f-item, .resume {
    background-color: transparent;
    border-radius: 5pt;
    border-color: transparent;
    padding: 10px 30px;
    font-weight: bold;
}
.resume {
    border-color: #8D7B68;
    border-radius: 10pt;
}
div.container, div.card {
    display: flex;
    width: 100%;
    height: 95vh;
}
div.item {
    width: 50%;
    background-color: #A4907C;
}
div.item2, button.f-item:hover {
    background-color: #C8B6A6;
}
div.content {
    padding: 20%;
}
div.card > img {
    width: 100px;
    border-radius: 50%;
}
hr {
    width: 30%;
    border-color: black;
    border-radius: 5pt;
    border-width: 3px;
}
a {
    color: black;
    text-decoration: none;
}
div.card {
    position: relative;
    left: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around; 
    height: 400px;
    width: 300px;
    background-color: #F1DEC9;
    border-radius: 5pt;
    margin-top: 20%;
}
